body {
    /*height:100%;
    width:100%; */ 
    margin:0px;
    background-color: #105a92;
}

.row{   
    display: flex;
    flex-wrap: wrap;
    background-color:#54d0ba;
    color:white;
    font-size:28px;
    justify-content: space-around;
    margin:0px;
}

.row.contact {
    background-color: #44a8c5;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}

.row.footer {
    background-color: #105a92;
    padding: 1px;
}

.headshot{
    width: 15%;
    border: 2px solid #54d0ba;
    border-radius: 1000px;
    justify-content: space-around;
   
}
.mid{
    background-color: white;
    color:#44a8c5;
    align-items:center;
    font-size:50px;
    /*margin-top:5px;
    margin-bottom:5px;*/
    margin: 0;
    padding: 10px;
}

.aboutMeDiv {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    background-color: #54d0ba
}

.aboutme{
    /*border:1px solid #105a92;*/
    width: 50%;
    background-color: #54d0ba;
    margin: 0;
    padding:10px;
    font-size:24px;
    color:white;
}

.right {
    width: 50%;
    background-color: rgb(41, 143, 226);
}

img.pictures {
    height: 550px;
    float: right;
}

h1 {
    font-family: 'Gaegu', cursive;
    color: #44a8c5;
}

h2 {
    font-family: 'Oswald', sans-serif;
}

p {
    font-family: 'Oswald', sans-serif;
}

.row.nav {
    font-family: 'Oswald', sans-serif;
    background-color: #105a92;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 25px;
}

a {
    color: white;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
}

.nav a:hover {
    color: #44a8c5;
}

.contact a:hover {
    color: #105a92;
}

.aboutPic {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 10px;
    height: 40px;
}

.year {
    color: #5d00c1;
    margin-bottom: 0px;
}

.projects {
    display: flex;
    flex-direction: column;
    background-color:#54d0ba;
    color:white;
    text-align: center;
    font-size:24px;
    /*font-weight: bold; */
    letter-spacing: 2px;
    padding: 15px;
}

.projects a:hover {
    color: crimson;
}

.proj {
    margin-top: 5px;
}